In [1]:
import pandas as pd
beijingData=pd.read_csv('./beijingAir.csv')

Attribute Information:

No: row number
year: year of data in this row
month: month of data in this row
day: day of data in this row
hour: hour of data in this row
pm2.5: PM2.5 concentration (ug/m^3)
DEWP: Dew Point (â„ƒ)
TEMP: Temperature (â„ƒ)
PRES: Pressure (hPa)
cbwd: Combined wind direction
Iws: Cumulated wind speed (m/s)
Is: Cumulated hours of snow
Ir: Cumulated hours of rain

In [7]:
beijingData.describe

<bound method NDFrame.describe of           No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES cbwd     Iws  \
0          1  2010      1    1     0    NaN   -21 -11.0  1021.0   NW    1.79
1          2  2010      1    1     1    NaN   -21 -12.0  1020.0   NW    4.92
2          3  2010      1    1     2    NaN   -21 -11.0  1019.0   NW    6.71
3          4  2010      1    1     3    NaN   -21 -14.0  1019.0   NW    9.84
4          5  2010      1    1     4    NaN   -20 -12.0  1018.0   NW   12.97
...      ...   ...    ...  ...   ...    ...   ...   ...     ...  ...     ...
43819  43820  2014     12   31    19    8.0   -23  -2.0  1034.0   NW  231.97
43820  43821  2014     12   31    20   10.0   -22  -3.0  1034.0   NW  237.78
43821  43822  2014     12   31    21   10.0   -22  -3.0  1034.0   NW  242.70
43822  43823  2014     12   31    22    8.0   -22  -4.0  1034.0   NW  246.72
43823  43824  2014     12   31    23   12.0   -21  -3.0  1034.0   NW  249.85

       Is  Ir
0       0   0
1       0   0
2       0   0
3       0   0
4       0   0
...    ..  ..
43819   0   0
43820   0   0
43821   0   0
43822   0   0
43823   0   0

[43824 rows x 13 columns]>

In [8]:
# there are missing values in pm2.5  label
beijingData.groupby('year')